body {
    display: flex;
    justify-content: center;
    gap: 25vw;
}

.grid1,
.grid2 {
    display: grid;
    grid-template-columns: repeat(10, 48px);
}

.grid1 div,
.grid2 div {
    height: 48px;
    width: 48px;
    border: 1px solid black;
}

.modal {
    position: absolute;
    width: 30%;
    height: 480px;
    margin: auto;
    margin-top: 5%;
    border: 2px solid black;
    z-index: 1;
    background-color: #dddddd;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
}

.startingGrid {
    display: grid;
    grid-template-columns: repeat(10, 24px);
}

.startingGrid div {
    height: 24px;
    width: 24px;
    border: 1px solid black;
}

.biggerText {
    font-size: 1.5rem;
}

.bigText {
    font-size: 1.25rem;
}